@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.air-datepicker-cell.-day-.-other-month-,
.air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month);
}

.air-datepicker-cell.-day-.-other-month-:hover,
.air-datepicker-cell.-year-.-other-decade-:hover {
  color: var(--adp-color-other-month-hover);
}

.-disabled-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-disabled-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month);
}

.-selected-.air-datepicker-cell.-day-.-other-month-,
.-selected-.air-datepicker-cell.-year-.-other-decade- {
  color: #fff;
  background: var(--adp-background-color-selected-other-month);
}

.-selected-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-selected-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  background: var(--adp-background-color-selected-other-month-focused);
}

.-in-range-.air-datepicker-cell.-day-.-other-month-,
.-in-range-.air-datepicker-cell.-year-.-other-decade- {
  background-color: var(--adp-background-color-in-range);
  color: var(--adp-color);
}

.-in-range-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-in-range-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  background-color: var(--adp-background-color-in-range-focused);
}

.air-datepicker-cell.-day-.-other-month-:empty,
.air-datepicker-cell.-year-.-other-decade-:empty {
  background: none;
  border: none;
}

.air-datepicker-cell {
  border-radius: var(--adp-cell-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.air-datepicker-cell.-focus- {
  background: var(--adp-background-color-hover);
}

.air-datepicker-cell.-current- {
  color: var(--adp-color-current-date);
}

.air-datepicker-cell.-current-.-focus- {
  color: var(--adp-color);
}

.air-datepicker-cell.-current-.-in-range- {
  color: var(--adp-color-current-date);
}

.air-datepicker-cell.-disabled- {
  cursor: default;
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-disabled-.-focus- {
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-disabled-.-in-range- {
  color: var(--adp-color-disabled-in-range);
}

.air-datepicker-cell.-disabled-.-current-.-focus- {
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-in-range- {
  background: var(--adp-cell-background-color-in-range);
  border-radius: 0;
}

.air-datepicker-cell.-in-range-:hover {
  background: var(--adp-cell-background-color-in-range-hover);
}

.air-datepicker-cell.-range-from- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: var(--adp-cell-border-radius) 0 0 var(--adp-cell-border-radius);
}

.air-datepicker-cell.-range-to- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: 0 var(--adp-cell-border-radius) var(--adp-cell-border-radius) 0;
}

.air-datepicker-cell.-range-to-.-range-from- {
  border-radius: var(--adp-cell-border-radius);
}

.air-datepicker-cell.-selected- {
  color: #fff;
  border: none;
  background: var(--adp-cell-background-color-selected);
}

.air-datepicker-cell.-selected-.-current- {
  color: #fff;
  background: var(--adp-cell-background-color-selected);
}

.air-datepicker-cell.-selected-.-focus- {
  background: var(--adp-cell-background-color-selected-hover);
}

.air-datepicker-body {
  transition: all var(--adp-transition-duration) var(--adp-transition-ease);
}

.air-datepicker-body.-hidden- {
  display: none;
}

.air-datepicker-body--day-names {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--adp-day-cell-width) [7];
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  margin: 8px 0 3px;
}

.air-datepicker-body--day-name {
  color: var(--adp-day-name-color);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.air-datepicker-body--cells {
  display: -ms-grid;
  display: grid;
}

.air-datepicker-body--cells.-days- {
  -ms-grid-columns: var(--adp-day-cell-width) [7];
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  grid-auto-rows: var(--adp-day-cell-height);
}

.air-datepicker-body--cells.-months- {
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--adp-month-cell-height);
}

.air-datepicker-body--cells.-years- {
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--adp-year-cell-height);
}

.air-datepicker-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--adp-border-color-inner);
  min-height: var(--adp-nav-height);
  padding: var(--adp-padding);
  box-sizing: content-box;
}

.-only-timepicker- .air-datepicker-nav {
  display: none;
}

.air-datepicker-nav--title,
.air-datepicker-nav--action {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.air-datepicker-nav--action {
  width: var(--adp-nav-action-size);
  border-radius: var(--adp-border-radius);
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.air-datepicker-nav--action:hover {
  background: var(--adp-background-color-hover);
}

.air-datepicker-nav--action:active {
  background: var(--adp-background-color-active);
}

.air-datepicker-nav--action.-disabled- {
  visibility: hidden;
}

.air-datepicker-nav--action svg {
  width: 32px;
  height: 32px;
}

.air-datepicker-nav--action path {
  fill: none;
  stroke: var(--adp-nav-arrow-color);
  stroke-width: 2px;
}

.air-datepicker-nav--title {
  border-radius: var(--adp-border-radius);
  padding: 0 8px;
}

.air-datepicker-nav--title i {
  font-style: normal;
  color: var(--adp-nav-color-secondary);
  margin-left: 0.3em;
}

.air-datepicker-nav--title:hover {
  background: var(--adp-background-color-hover);
}

.air-datepicker-nav--title:active {
  background: var(--adp-background-color-active);
}

.air-datepicker-nav--title.-disabled- {
  cursor: default;
  background: none;
}

.air-datepicker-buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.air-datepicker-button {
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--adp-btn-color);
  border-radius: var(--adp-btn-border-radius);
  cursor: pointer;
  height: var(--adp-btn-height);
  border: none;
  background: rgba(255, 255, 255, 0);
}

.air-datepicker-button:hover {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
}

.air-datepicker-button:focus {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
  outline: none;
}

.air-datepicker-button:active {
  background: var(--adp-btn-background-color-active);
}

.air-datepicker-button span {
  outline: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.air-datepicker-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 12px;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 var(--adp-time-padding-inner);
}

.-only-timepicker- .air-datepicker-time {
  border-top: none;
}

.air-datepicker-time--current {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.air-datepicker-time--current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.air-datepicker-time--current-hours,
.air-datepicker-time--current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}

.air-datepicker-time--current-hours:after,
.air-datepicker-time--current-minutes:after {
  content: "";
  background: var(--adp-background-color-hover);
  border-radius: var(--adp-border-radius);
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.air-datepicker-time--current-hours.-focus-:after,
.air-datepicker-time--current-minutes.-focus-:after {
  opacity: 1;
}

.air-datepicker-time--current-ampm {
  text-transform: uppercase;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: var(--adp-time-day-period-color);
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.air-datepicker-time--row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(
      to right,
      var(--adp-time-track-color),
      var(--adp-time-track-color)
    )
    left 50%/100% var(--adp-time-track-height) no-repeat;
}

.air-datepicker-time--row:first-child {
  margin-bottom: 4px;
}

.air-datepicker-time--row input[type="range"] {
  background: none;
  cursor: pointer;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type="range"]::-ms-tooltip {
  display: none;
}

.air-datepicker-time--row input[type="range"]:hover::-webkit-slider-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type="range"]:hover::-moz-range-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type="range"]:hover::-ms-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type="range"]:focus {
  outline: none;
}

.air-datepicker-time--row input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type="range"]:focus::-moz-range-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type="range"]:focus::-ms-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -webkit-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -moz-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  -ms-transition: background var(--adp-transition-duration);
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type="range"]::-webkit-slider-thumb {
  margin-top: calc(var(--adp-time-thumb-size) / 2 * -1);
}

.air-datepicker-time--row input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type="range"]::-moz-range-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type="range"]::-ms-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type="range"]::-ms-fill-lower {
  background: transparent;
}

.air-datepicker-time--row input[type="range"]::-ms-fill-upper {
  background: transparent;
}

.air-datepicker {
  --adp-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --adp-font-size: 14px;
  --adp-width: 246px;
  --adp-z-index: 100;
  --adp-padding: 4px;
  --adp-grid-areas: "nav" "body" "timepicker" "buttons";
  --adp-transition-duration: 0.3s;
  --adp-transition-ease: ease-out;
  --adp-transition-offset: 8px;
  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;
  --adp-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-background-color-in-range-focused: rgba(92, 196, 239, 0.2);
  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;
  --adp-color: #4a4a4a;
  --adp-color-secondary: #9c9c9c;
  --adp-accent-color: #4eb5e6;
  --adp-color-current-date: var(--adp-accent-color);
  --adp-color-other-month: #dedede;
  --adp-color-disabled: #aeaeae;
  --adp-color-disabled-in-range: #939393;
  --adp-color-other-month-hover: #c5c5c5;
  --adp-border-color: #dbdbdb;
  --adp-border-color-inner: #efefef;
  --adp-border-radius: 4px;
  --adp-border-color-inline: #d7d7d7;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: var(--adp-color-secondary);
  --adp-nav-action-size: 32px;
  --adp-nav-color-secondary: var(--adp-color-secondary);
  --adp-day-name-color: #ff9a19;
  --adp-day-cell-width: 1fr;
  --adp-day-cell-height: 32px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;
  --adp-pointer-size: 10px;
  --adp-poiner-border-radius: 2px;
  --adp-pointer-offset: 14px;
  --adp-cell-border-radius: 4px;
  --adp-cell-background-color-selected: #5cc4ef;
  --adp-cell-background-color-selected-hover: #45bced;
  --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
  --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
  --adp-btn-height: 32px;
  --adp-btn-color: var(--adp-accent-color);
  --adp-btn-color-hover: var(--adp-color);
  --adp-btn-border-radius: var(--adp-border-radius);
  --adp-btn-background-color-hover: var(--adp-background-color-hover);
  --adp-btn-background-color-active: var(--adp-background-color-active);
  --adp-time-track-height: 1px;
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
  --adp-time-thumb-size: 12px;
  --adp-time-padding-inner: 10px;
  --adp-time-day-period-color: var(--adp-color-secondary);
  --adp-mobile-font-size: 16px;
  --adp-mobile-nav-height: 40px;
  --adp-mobile-width: 320px;
  --adp-mobile-day-cell-height: 38px;
  --adp-mobile-month-cell-height: 48px;
  --adp-mobile-year-cell-height: 64px;
}

.air-datepicker-overlay {
  --adp-overlay-background-color: rgba(0, 0, 0, 0.3);
  --adp-overlay-transition-duration: 0.3s;
  --adp-overlay-transition-ease: ease-out;
  --adp-overlay-z-index: 100;
}

.air-datepicker {
  background: var(--adp-background-color);
  border: 1px solid var(--adp-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--adp-border-radius);
  box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: max-content [4];
  grid-template-rows: repeat(4, -webkit-max-content);
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adp-grid-areas);
  font-family: var(--adp-font-family), sans-serif;
  font-size: var(--adp-font-size);
  color: var(--adp-color);
  width: var(--adp-width);
  position: absolute;
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease),
    -webkit-transform var(--adp-transition-duration) var(--adp-transition-ease);
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease),
    transform var(--adp-transition-duration) var(--adp-transition-ease);
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease),
    transform var(--adp-transition-duration) var(--adp-transition-ease),
    -webkit-transform var(--adp-transition-duration) var(--adp-transition-ease);
  z-index: var(--adp-z-index);
}

.air-datepicker:not(.-custom-position-) {
  opacity: 0;
}

.air-datepicker.-from-top- {
  -webkit-transform: translateY(calc(var(--adp-transition-offset) * -1));
  transform: translateY(calc(var(--adp-transition-offset) * -1));
}

.air-datepicker.-from-right- {
  -webkit-transform: translateX(var(--adp-transition-offset));
  transform: translateX(var(--adp-transition-offset));
}

.air-datepicker.-from-bottom- {
  -webkit-transform: translateY(var(--adp-transition-offset));
  transform: translateY(var(--adp-transition-offset));
}

.air-datepicker.-from-left- {
  -webkit-transform: translateX(calc(var(--adp-transition-offset) * -1));
  transform: translateX(calc(var(--adp-transition-offset) * -1));
}

.air-datepicker.-active-:not(.-custom-position-) {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.air-datepicker.-active-.-custom-position- {
  transition: none;
}

.air-datepicker.-inline- {
  border-color: var(--adp-border-color-inline);
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.air-datepicker.-inline- .air-datepicker--pointer {
  display: none;
}

.air-datepicker.-is-mobile- {
  --adp-font-size: var(--adp-mobile-font-size);
  --adp-day-cell-height: var(--adp-mobile-day-cell-height);
  --adp-month-cell-height: var(--adp-mobile-month-cell-height);
  --adp-year-cell-height: var(--adp-mobile-year-cell-height);
  --adp-nav-height: var(--adp-mobile-nav-height);
  --adp-nav-action-size: var(--adp-mobile-nav-height);
  position: fixed;
  width: var(--adp-mobile-width);
  border: none;
}

.air-datepicker.-is-mobile- * {
  -webkit-tap-highlight-color: transparent;
}

.air-datepicker.-is-mobile- .air-datepicker--pointer {
  display: none;
}

.air-datepicker.-is-mobile-:not(.-custom-position-) {
  -webkit-transform: translate(-50%, calc(-50% + var(--adp-transition-offset)));
  transform: translate(-50%, calc(-50% + var(--adp-transition-offset)));
}

.air-datepicker.-is-mobile-.-active-:not(.-custom-position-) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.air-datepicker.-custom-position- {
  transition: none;
}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0;
}

.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);
  position: absolute;
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1;
}

.air-datepicker--pointer:after {
  content: "";
  position: absolute;
  background: #fff;
  border-top: 1px solid var(--adp-border-color-inline);
  border-right: 1px solid var(--adp-border-color-inline);
  border-top-right-radius: var(--adp-poiner-border-radius);
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  box-sizing: border-box;
}

.-top-left- .air-datepicker--pointer,
.-top-center- .air-datepicker--pointer,
.-top-right- .air-datepicker--pointer,
[data-popper-placement^="top"] .air-datepicker--pointer {
  top: calc(100% - var(--pointer-half-size) + 1px);
}

.-top-left- .air-datepicker--pointer:after,
.-top-center- .air-datepicker--pointer:after,
.-top-right- .air-datepicker--pointer:after,
[data-popper-placement^="top"] .air-datepicker--pointer:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.-right-top- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer,
[data-popper-placement^="right"] .air-datepicker--pointer {
  right: calc(100% - var(--pointer-half-size) + 1px);
}

.-right-top- .air-datepicker--pointer:after,
.-right-center- .air-datepicker--pointer:after,
.-right-bottom- .air-datepicker--pointer:after,
[data-popper-placement^="right"] .air-datepicker--pointer:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.-bottom-left- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer,
[data-popper-placement^="bottom"] .air-datepicker--pointer {
  bottom: calc(100% - var(--pointer-half-size) + 1px);
}

.-bottom-left- .air-datepicker--pointer:after,
.-bottom-center- .air-datepicker--pointer:after,
.-bottom-right- .air-datepicker--pointer:after,
[data-popper-placement^="bottom"] .air-datepicker--pointer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.-left-top- .air-datepicker--pointer,
.-left-center- .air-datepicker--pointer,
.-left-bottom- .air-datepicker--pointer,
[data-popper-placement^="left"] .air-datepicker--pointer {
  left: calc(100% - var(--pointer-half-size) + 1px);
}

.-left-top- .air-datepicker--pointer:after,
.-left-center- .air-datepicker--pointer:after,
.-left-bottom- .air-datepicker--pointer:after,
[data-popper-placement^="left"] .air-datepicker--pointer:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.-top-left- .air-datepicker--pointer,
.-bottom-left- .air-datepicker--pointer {
  left: var(--adp-pointer-offset);
}

.-top-right- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  right: var(--adp-pointer-offset);
}

.-top-center- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer {
  left: calc(50% - var(--adp-pointer-size) / 2);
}

.-left-top- .air-datepicker--pointer,
.-right-top- .air-datepicker--pointer {
  top: var(--adp-pointer-offset);
}

.-left-bottom- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  bottom: var(--adp-pointer-offset);
}

.-left-center- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer {
  top: calc(50% - var(--adp-pointer-size) / 2);
}

.air-datepicker--navigation {
  grid-area: nav;
}

.air-datepicker--content {
  box-sizing: content-box;
  padding: var(--adp-padding);
  grid-area: body;
}

.-only-timepicker- .air-datepicker--content {
  display: none;
}

.air-datepicker--time {
  grid-area: timepicker;
}

.air-datepicker--buttons {
  grid-area: buttons;
}

.air-datepicker--buttons,
.air-datepicker--time {
  padding: var(--adp-padding);
  border-top: 1px solid var(--adp-border-color-inner);
}

.air-datepicker-overlay {
  position: fixed;
  background: var(--adp-overlay-background-color);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity var(--adp-overlay-transition-duration)
      var(--adp-overlay-transition-ease),
    left 0s, height 0s, width 0s;
  transition-delay: 0s, var(--adp-overlay-transition-duration),
    var(--adp-overlay-transition-duration),
    var(--adp-overlay-transition-duration);
  z-index: var(--adp-overlay-z-index);
}

.air-datepicker-overlay.-active- {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity var(--adp-overlay-transition-duration)
      var(--adp-overlay-transition-ease),
    height 0s, width 0s;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./assets/images/ajax-loader.gif") center center
    no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #1f1f1f;
  height: 100%;
}

body.no-scroll {
  overflow: hidden !important;
  padding-right: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Layout */
.container {
  max-width: 540px;
  padding: 0 24px;
  margin: 0 auto;
}

.container-sm {
  max-width: 320px;
  padding: 0 24px;
  margin: 0 auto;
}

@media all and (min-width: 359px) {
  .container-sm {
    max-width: 360px;
  }
}

@media all and (min-width: 575px) {
  .container-sm {
    max-width: 524px;
  }
}

@media all and (min-width: 767px) {
  .container {
    max-width: 720px;
  }

  .container-sm {
    max-width: 608px;
  }
}

@media all and (min-width: 991px) {
  .container {
    max-width: 900px;
  }
}

@media all and (min-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}

@media all and (min-width: 1399px) {
  .container {
    max-width: 1244px;
  }
}

/* Components */
.header {
  border-bottom: 1px solid #f5f5f5;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 200;
}

.header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 0;
}

.header-panel {
  padding-top: 24px;
}

.header-panel__subtitle {
  color: #9f9f9f;
  margin-bottom: 4px;
}

.header-panel__title {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1f1f1f;
  transition: color 0.3s ease;
}

.title-h1 {
  font-size: 28px;
  line-height: 1.14;
  font-weight: 800;
}

.title-h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.title-h3 {
  font-size: 16px;
  line-height: 1.38;
  font-weight: 700;
}

.text-sm {
  font-size: 12px;
  line-height: 1.33;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-4 {
  -webkit-line-clamp: 4;
}

.title-count {
  background: #f5f5f5;
  border-radius: 21px;
  padding: 4px 12px;
  font-weight: 700;
  margin-left: 8px;
}

.modal-custom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(31, 31, 31, 0.72);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.modal-custom.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.modal-custom__body {
  max-width: 400px;
  width: 100%;
  max-height: 90%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border-radius: 16px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-custom__body::-webkit-scrollbar {
  width: 5px;
  background: #f5f5f5;
  border-radius: 14px;
}

.modal-custom__body::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  border-radius: 14px;
}

.modal-custom__close {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 24px;
  border: none;
  background: #f5f5f5 url("./assets/images/close.svg") center center no-repeat;
  padding: 0;
}

.modal-custom__close img {
  width: 10px;
  height: 10px;
}

.modal-custom__header {
  padding: 24px;
  border-bottom: 1px solid #ececec;
}

.modal-custom__content {
  padding: 24px;
}

@media all and (max-width: 575px) {
  .modal-custom {
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .modal-custom__body {
    max-width: 100%;
    border-radius: 16px 16px 0 0;
  }
}

.logo {
  display: block;
  width: 166px;
  height: 50px;
  background: url("../images/Logo.svg") center center no-repeat;
}

@media all and (max-width: 575px) {
  .logo {
    width: 145px;
    height: 45px;
    background-size: contain;
  }
}

@media all and (max-width: 359px) {
  .logo {
    width: 130px;
    height: 40px;
  }
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 12px 16px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  transition: background-color 0.3s ease;
}

.btn-main {
  background: #de210b;
  color: #ffffff;
}

.btn-main:hover {
  background: #c21b08;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.btn-grey {
  background: #ececec;
  color: #1f1f1f;
}

.btn-grey:hover {
  background: #d6d6d6;
  color: #1f1f1f;
  transition: background-color 0.3s ease;
}

.btn-big {
  width: 100%;
  font-size: 16px;
  line-height: 1.38;
  padding: 16px;
}

@media all and (max-width: 359px) {
  .btn {
    padding: 10px;
  }
}

.form {
  max-width: 365px;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 24px;
  color: #9f9f9f;
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
}

.form__fieldset {
  margin-bottom: 24px;
}

.form__subtitle {
  margin-bottom: 12px;
}

.form__row {
  display: -ms-flexbox;
  display: flex;
  margin: -4px;
}

.form__row .form-item {
  margin: 0 4px 0 !important;
}

.form__btn {
  margin-top: 24px;
  margin-bottom: 16px;
}

.form__policy {
  text-align: center;
}

.form__policy-link {
  color: #9f9f9f;
}

.form__error {
  color: #de210b;
  text-align: center;
  margin-top: 16px;
  padding: 0 40px;
}

.form__input-wrap {
  display: block;
  position: relative;
}

.form__input-wrap-label {
  position: absolute;
  top: 19px;
  left: 12px;
  z-index: 1;
}

@media all and (max-width: 575px) {
  .form__row {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form__row .form-item {
    margin-bottom: 8px !important;
  }
}

.form-select {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}

.form-select select {
  border: none;
  padding: 19px 12px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #9f9f9f;
  background: #ffffff;
}

.form-item {
  display: block;
  position: relative;
}

.form-item__input {
  outline: none;
  width: 100%;
  padding: 25px 12px 9px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border-radius: 8px;
  border: none;
  font-weight: 700;
  transition: box-shadow 0.3s ease;
}

.form-item__input--date {
  font-family: "Inter", "Arial", sans-serif;
  padding: 19px 12px;
  color: #9f9f9f;
  font-weight: 400;
}

.form-item__input--date::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.form-item__input--date::-webkit-datetime-edit {
  margin-left: 80px;
}

.form-item:not(:last-child) {
  margin-bottom: 8px;
}

.form-item__name {
  position: absolute;
  top: 17px;
  left: 12px;
  font-size: 14px;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.form-item__input:focus + .form-item__name,
.form-item__textarea:focus + .form-item__name,
.js-changed.changed + .form-item__name {
  font-size: 12px;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
  transition: all 0.3s ease;
}

.form-item__buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-item__button {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
}

.form-item__button--minus {
  background: url("../images/minus.svg") center center no-repeat;
}

.form-item__button--minus.disabled {
  background: url("../images/minus-dis.svg") center center no-repeat;
  pointer-events: none;
}

.form-item__button--plus {
  background: url("../images/plus.svg") center center no-repeat;
}

.form-item__button--plus.disabled {
  background: url("../images/plus-dis.svg") center center no-repeat;
  pointer-events: none;
}

.form-item__count {
  width: 25px;
  color: #1f1f1f;
  font-weight: 700;
  margin: 0 4px;
  text-align: center;
}

.form-item--guest input {
  height: 54px;
  font-size: 0;
}

.form-item--guest .form-item__label--guest {
  position: absolute;
  top: 9px;
  left: 12px;
  font-weight: 700;
  color: #1f1f1f;
}

.form-item--guest .form-item__name--guest {
  position: absolute;
  top: 29px;
  left: 12px;
  font-size: 12px;
  line-height: 16px;
}

.tab-links {
  border-bottom: 1px solid #f5f5f5;
  padding: 24px 0;
  background: #ffffff;
  position: sticky;
  top: 83px;
  z-index: 100;
}

.tab-links-wrap {
  margin-left: calc((100% - 608px) / 2 + 24px);
  margin-right: calc((100% - 608px) / 2 + 24px);
}

.tab-links__item {
  border-radius: 21px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0 4px;
  background: #f5f5f5;
  color: #1f1f1f;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.tab-links__item:hover {
  background: #ececec;
}

.tab-links__item.active {
  background: #de210b;
  color: #ffffff;
  transition: all 0.3s ease;
}

.tab-links__item.active:hover {
  background: #c21b08;
}

.js-tabs-slider .slick-slide {
  margin: 0 4px;
}

.js-tabs-slider .slick-slide .tab-links__item {
  margin: 0;
}

.js-tabs-slider .slick-prev:before,
.js-tabs-slider .slick-next:before {
  display: none;
}

.js-tabs-slider .slick-prev,
.js-tabs-slider .slick-next {
  z-index: 1;
}

.js-tabs-slider .slick-prev {
  width: 62px;
  height: 40px;
  background: linear-gradient(
    to right,
    #ffffff 40%,
    rgba(255, 255, 255, 0) 99.81%
  );
  left: 0;
}

.js-tabs-slider .slick-prev .pseudo {
  display: block;
  background: #ffffff url("../images/arrow-left.svg") center center no-repeat;
  width: 32px;
  height: 32px;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border-radius: 50%;
  margin-right: auto;
}

.js-tabs-slider .slick-next {
  width: 62px;
  height: 40px;
  background: linear-gradient(
    to left,
    #ffffff 40%,
    rgba(255, 255, 255, 0) 99.81%
  );
  right: 0;
}

.js-tabs-slider .slick-next .pseudo {
  display: block;
  background: #ffffff url("../images/arrow-right.svg") center center no-repeat;
  width: 32px;
  height: 32px;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border-radius: 50%;
  margin-left: auto;
}

.js-tabs-slider .slick-disabled {
  display: none !important;
}

.tab-content {
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.tab-content__item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.tab-content__item.active {
  opacity: 1;
  pointer-events: all;
  position: static;
}

@media all and (max-width: 767px) {
  .tab-links-wrap {
    margin-left: calc((100% - 524px) / 2 + 24px);
    margin-right: 0;
  }
}

@media all and (max-width: 575px) {
  .tab-links {
    top: 78px;
  }

  .tab-links-wrap {
    margin-left: 0;
  }
}

@media all and (max-width: 359px) {
  .tab-links {
    top: 73px;
  }
}

.card-block {
  margin-bottom: 24px;
}

.card-block__title {
  margin-bottom: 24px;
}

.card {
  display: -ms-flexbox;
  display: flex;
  min-height: 285px;
}

.card:not(:last-child) {
  margin-bottom: 24px;
}

.card__qr {
  width: 180px;
  height: 180px;
  border-radius: 16px;
}

.card__qr--qr {
  background: #ececec url("../images/qr-sm.svg") center center no-repeat;
}

.card__qr--img {
  background: url("../images/qr.png") center center no-repeat;
  background-size: contain;
}

.card__qr--text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #ececec;
}

.card__qr--text p {
  color: #9f9f9f;
  margin-bottom: 4px;
}

.card__title {
  margin-bottom: 12px;
}

.card__descr {
  margin-bottom: 8px;
}

.card__showmore {
  color: #9f9f9f;
  -ms-flex: auto;
  flex: auto;
}

.card__sm-title {
  color: #9f9f9f;
  margin-top: 16px;
  margin-bottom: 4px;
}

.card__btn {
  margin-top: 16px;
}

.card-price__text {
  color: #9f9f9f;
  margin-bottom: 4px;
}

.card-price__old {
  color: #d6d6d6;
  text-decoration: line-through;
  margin-right: 8px;
}

.card__show-btn {
  display: none;
}

.card-left {
  width: 228px;
  background: #f5f5f5;
  border-radius: 16px;
  position: relative;
}

.card-left__inner {
  padding: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.card-left .card-dots {
  right: -12px;
}

.card-right {
  width: 333px;
  background: #f5f5f5;
  border-radius: 16px;
  position: relative;
}

.card-right__inner {
  padding: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 285px;
}

.card-right .card-dots {
  left: -12px;
}

.card.rotate .card-left {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.card.rotate .card-left__inner {
  -ms-flex-pack: center;
  justify-content: center;
}

.card.rotate .card__subtitle {
  text-align: center;
}

.card-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -12px;
  margin-bottom: -12px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.card-dots__dot {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
}

.card-dots__dot-big {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 50%;
}

.card-tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -4px 16px;
}

.card-tags__item {
  background: #1f1f1f;
  border-radius: 6px;
  padding: 4px 8px;
  color: #ffffff;
  margin: 0 4px;
}

.card-tags__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 8px;
}

@media all and (max-width: 767px) {
  .card {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .card-price,
  .card__qr {
    display: none;
  }

  .card__qr {
    margin: 24px auto 0;
  }

  .card__show-btn,
  .card__qr.show {
    display: block;
  }

  .card__qr--text.show {
    display: -ms-flexbox;
    display: flex;
  }

  .card-left,
  .card-right {
    width: 100%;
  }

  .card-dots {
    -ms-flex-direction: row;
    flex-direction: row;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -12px;
    margin-right: -12px;
  }

  .card-left .card-dots {
    right: 0;
    top: -12px;
    bottom: unset;
  }

  .card-right .card-dots {
    left: 0;
    top: unset;
    bottom: -12px;
  }

  .card.rotate .card-left {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

@media all and (max-width: 575px) {
  .card__qr {
    width: 100%;
    height: 264px;
  }
}

.select-ui,
.select-ui-children {
  width: 100%;
  position: relative;
}

.select-ui__list,
.select-ui-children__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.select-ui__list--multiselect,
.select-ui-children__list--multiselect {
  padding: 20px 0;
}

.select-ui__dropdown,
.select-ui-children__dropdown {
  display: none;
  width: 100%;
  max-height: 190px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border-radius: 8px;
  padding: 6px 0;
  position: absolute;
  top: 61px;
  left: 0;
  right: 0;
  z-index: 101;
  overflow-y: auto;
}

.select-ui__dropdown::-webkit-scrollbar,
.select-ui-children__dropdown::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
  border-radius: 14px;
}

.select-ui__dropdown::-webkit-scrollbar-thumb,
.select-ui-children__dropdown::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 14px;
}

.select-ui__dropdown--multiselect,
.select-ui-children__dropdown--multiselect {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border: none;
  top: 38px;
}

.select-ui__backdrop,
.select-ui-children__backdrop {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
}

.select-ui__hidden-select,
.select-ui-children__hidden-select {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -100;
}

.select-ui__checkbox-item,
.select-ui-children__checkbox-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
}

.select-ui__name--checkbox,
.select-ui-children__name--checkbox {
  font-size: 20px;
  line-height: 1.25;
  cursor: pointer;
  position: relative;
  padding-left: 60px;
}

.select-ui__name--checkbox::before,
.select-ui__name--checkbox::after,
.select-ui-children__name--checkbox::before,
.select-ui-children__name--checkbox::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #1f1f1f;
  margin-right: 20px;
  position: absolute;
  top: -2px;
  left: 0;
}

.select-ui__input--checkbox,
.select-ui-children__input--checkbox {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.select-ui.open .select-ui__dropdown,
.select-ui-children.open .select-ui__dropdown {
  display: block;
}

.select-ui.open .select-ui__input,
.select-ui-children.open .select-ui__input {
  cursor: pointer;
}

.select-ui.open .select-ui__input::after,
.select-ui.open .select-ui__input--multiselect::after,
.select-ui-children.open .select-ui__input::after,
.select-ui-children.open .select-ui__input--multiselect::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

.select-ui.open .select-ui__backdrop,
.select-ui-children.open .select-ui__backdrop {
  display: block;
}

.select-ui-fake {
  display: none;
}

.select-ui__input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 17px 12px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
}

.select-ui__input span {
  min-width: 100px;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.select-ui__input-name {
  position: absolute;
  opacity: 0;
}

.select-ui__input::after,
.select-ui__input--multiselect::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/images/arrow-down.svg") center center no-repeat;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.select-ui__input.selected {
  padding: 25px 12px 9px;
}

.select-ui__input.selected .select-ui__input-name {
  opacity: 1;
  font-size: 14px;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
  transition: all 0.3s ease;
}

.select-ui__input.selected span[data-type="value"] {
  font-weight: 700;
  color: #1f1f1f;
}

.select-ui__input--multiselect {
  font-size: 20px;
  line-height: 1.25;
  cursor: pointer;
  padding-right: 35px;
}

.select-ui__input-truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-item--time .select-ui__input::after {
  display: none;
}

.select-ui__item {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.43;
  color: #1f1f1f;
  text-align: left;
}

.select-ui__item:hover {
  background: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-ui__item.selected {
  font-weight: 700;
  position: relative;
  pointer-events: none;
}

.select-ui-children {
  margin-left: auto;
  width: 85%;
}

.select-ui-children::before {
  content: "";
  display: block;
  width: 11px;
  height: 32px;
  background: url("../assets/images/line.svg") center center no-repeat;
  position: absolute;
  top: 0;
  left: -23px;
}

.select-ui-children .select-ui__input.selected {
  padding: 17px 12px;
}

.select-ui-children .select-ui__input .select-ui__input-name {
  max-width: 200px;
  font-weight: 700;
  color: #1f1f1f;
}

.select-ui-children .select-ui__input.selected .select-ui__input-name {
  position: static;
  -webkit-transform: unset;
  transform: unset;
}

.select-ui-children .select-ui__input span:nth-child(2) {
  font-weight: 700;
  color: #1f1f1f;
  text-align: right;
  padding-right: 30px;
}

.select-ui-children .select-ui__input.selected span:nth-child(2) {
  min-width: 85px;
  max-width: 100px;
}

.select-children__item:not(:first-child) .select-ui-children::after {
  content: "";
  display: block;
  width: 2px;
  height: 40px;
  background: #d6d6d6;
  position: absolute;
  top: -40px;
  left: -23px;
}

.select-children__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.select-children__item:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 1199px) {
  .select-ui__input--multiselect {
    font-size: 18px;
  }
}

@media all and (max-width: 575px) {
  .select-ui__input--multiselect {
    font-size: 16px;
  }
}

@media all and (max-width: 359px) {
  .select-ui__input::after {
    right: 12px;
  }

  .select-ui__input span {
    min-width: 80px;
  }
}

.air-datepicker {
  background: #ffffff !important;
  border: none !important;
  border-radius: 8px !important;
  box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
  --adp-font-family: -apple-system, "Inter", "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --adp-width: 270px;
}

.air-datepicker--pointer {
  z-index: 1 !important;
}

.air-datepicker--pointer::after {
  display: none;
}

.air-datepicker--content {
  padding: 0 !important;
}

.air-datepicker-nav {
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: none !important;
  min-height: 48px !important;
  padding: 0;
}

.air-datepicker-nav--action {
  display: none;
}

.air-datepicker-nav--title {
  color: #de210b;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  position: relative;
}

.air-datepicker-nav--title:hover {
  background: #ffffff;
}

.air-datepicker-nav--title i {
  color: #de210b !important;
}

.air-datepicker-nav--title::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px;
  border-color: #de210b transparent transparent transparent;
  border-radius: 2px;
  position: absolute;
  top: 22px;
  right: -10px;
}

.air-datepicker-body--day-name {
  color: #9f9f9f !important;
  font-size: 12px !important;
  line-height: 1.33;
  text-transform: capitalize;
}

.air-datepicker-body--day-names {
  padding: 0 0 16px;
  margin: 0 !important;
}

.air-datepicker-body--cells {
  padding: 6px 10px;
}

.air-datepicker-body--cells.-days- {
  grid-auto-rows: 36px !important;
}

.air-datepicker-cell {
  color: #1f1f1f !important;
  height: 36px !important;
}

.air-datepicker-cell.-day- {
  width: 36px !important;
  font-weight: 500;
  border-radius: 50%;
}

.air-datepicker-cell.-day-.-current- {
  background: #f5f5f5;
  border-radius: 50%;
}

.air-datepicker-cell.-day-.-selected- {
  background: #de210b !important;
  color: #ffffff !important;
}

.air-datepicker-cell.-day-.-disabled- {
  color: #d6d6d6 !important;
}

.air-datepicker-cell.-day-.-other-month-,
.datepicker--cell-year.-day-.-other-decade-,
.air-datepicker-cell.-day-.-other-month-.-disabled-,
.datepicker--cell-year.-day-.-other-decade-.-disabled-,
.air-datepicker-cell.-day-.-other-month-.-focus-,
.air-datepicker-cell.-day-.-other-decade-.-focus- {
  background: #ffffff;
  color: transparent !important;
}

@media all and (max-width: 359px) {
  .air-datepicker {
    --adp-width: 250px;
  }

  .air-datepicker-cell {
    height: 30px !important;
  }

  .air-datepicker-cell.-day- {
    width: 30px !important;
  }
}

.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -11px;
}

.info__item {
  width: calc(33.3% - 22px);
  background: #f5f5f5;
  border-radius: 12px;
  padding: 16px;
  margin: 0 11px;
}

.info__title {
  color: #9f9f9f;
  margin-bottom: 4px;
}

.info__data {
  max-width: 140px;
}

@media all and (max-width: 767px) {
  .info {
    margin: 0 -8px;
  }

  .info__item {
    width: calc(50% - 23px);
    margin: 0 8px;
  }

  .info__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media all and (max-width: 575px) {
  .info__item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* Pages */
.ui-kit {
  padding: 60px 0;
}

.ui-kit__mb {
  margin-bottom: 24px;
}

.ui-kit__block {
  margin-bottom: 48px;
}

.panel-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.panel-page .mobile {
  display: none;
}

@media all and (max-width: 575px) {
  .panel-page {
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
  }

  .panel-page .mobile {
    display: block;
  }

  .panel-page .desktop {
    display: none;
  }
}

.panel {
  max-width: 405px;
  width: 405px;
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
  position: relative;
}

.panel::before {
  content: "";
  display: block;
  width: 460px;
  height: 410px;
  background: url("../assets/images/trees.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: -460px;
}

.panel::after {
  content: "";
  display: block;
  width: 305px;
  height: 390px;
  background: url("../assets/images/animals.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: -345px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.panel__logo {
  margin: 0 auto 16px;
}

.panel__text {
  color: #9f9f9f;
  margin-bottom: 24px;
}

.panel__copyright {
  color: #9f9f9f;
  margin-top: 24px;
}

.panel .reg-form,
.panel .auth-form.hide {
  display: none;
}

.panel .reg-form.active {
  display: block;
}

@media all and (max-width: 1199px) {
  .panel::before {
    width: 300px;
    height: 290px;
    left: -300px;
  }

  .panel::after {
    width: 205px;
    height: 275px;
    right: -245px;
  }
}

@media all and (max-width: 991px) {
  .panel::before,
  .panel::after {
    display: none;
  }
}

@media all and (max-width: 575px) {
  .panel {
    max-width: 312px;
    width: 100%;
    padding: 24px 0;
  }
}

.book {
  padding-bottom: 24px;
}
